nav {
  background-color: #C2B280;
}

nav ul {
  list-style: none;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding: 14px 48px;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover:not(.active) {
  background-color:#EDB32B;
  color: rgb(0, 0, 0);
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 3000px;
  color: azure;
  background-color: #0D1126;
  background-image: linear-gradient(180deg, #1677C5 0%, #1A224C 31%, #0D1126 75%);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #EDB32B;
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 40px;
  color: #EDB32B;
  text-decoration: underline;
}

/* to change the color of unvisited links */
a:link{
  color: darkblue;
}
a:visited{
  color: darkblue;
}

h3 {
  text-indent: 100px;
  font-size: 28px;
}

h4 {
  font-size: 26px;
  color: #EDB32B;
}

p {
  text-indent: 20px;
  font-size: 23px;
  text-align: left;
}

p b {
  color:#EDB32B;
}

#resource {
  color:#EDB32B;
  text-indent: 150px;
}
#resource:link{
  color: rgba(0, 255, 255, 0.719);
}
#resource:visited{
  color: rgba(0, 255, 255, 0.719);
}
